/* index.css */

/* Global Styles */
* {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

html, body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0 10%;
    height: 100%;
    display: flex;
    flex-flow: column;
}

#textarea {
    width: 100%;
    border-radius: 5px;
}

#post-area {
    margin: 20px 0;
    margin-top: 0;
    overflow-y: scroll;
    border-radius: 10px;
}

.post-header {
    margin-bottom: 0px;
}

/* Post Styles */
#posts {
    overflow-y: scroll;
}

.post:first-child {
    margin-top: 0px;
}

.post {
    margin: 5px;
    padding: 10px;
    background-color: #fafafa;
}

.post-content {
    display: flex;
    justify-content: space-between;
    /* This will align the button to the right */
}

.post-text {
    margin-right: 10px;
    padding: 5px;
    margin: 0;
    /* Add some padding between the text and the button */
}

.post-delete {
    margin: 10px;
    height: 10px;
}

pre {
    white-space: pre-wrap;
}