/* index.css */

/* Global Styles */
:root {
    --text: #f0f0f0;
    --bg: #111111;
    --off: #222;
}

* {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: var(--text);
    box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

html, body {
    color: var(--text);
    background-color: var(--bg);
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0 1pc;
    height: 100%;
    display: flex;
    flex-flow: column;
}

.main-container {
    display: flex;
    flex-direction: row;
    height: 90%;
    gap: 10px;
}

.form {
    flex: 1;
}

.input-box {
    color: var(--text);
    width: 100%;
    height: 90%;
    font-size: medium;
    padding: 1em;
    background-color: var(--bg);
    border-radius: 5px;
}

.post-container {
    flex: 1;
    height: 100%;
}

.post-area {
    height: 100%;
    margin: 20px 0;
    margin-top: 0;
    overflow-y: scroll;
}

ul.posts {
    padding-left: 0px;
    margin-top: 0px;
    list-style: none;
}

.post:first-child {
    margin-top: 0px;
}

.post {
    margin: 5px;
    padding: 10px;
    background-color: var(--off);
    border-radius: 10px;
}

.hide {
    display: none;
}

.post-content {
    display: flex;
    justify-content: space-between;
    /* This will align the button to the right */
}

.post-text {
    padding: 5px;
    margin: 0;
    white-space: pre-wrap;
    word-break: break-all;
}

.post-delete {
    margin: 5px;
    padding: 0;
    height: 1.5em;
    width: 1.5em;
    min-width: 1.5em;
}