<!DOCTYPE html>
<html>

<head>
    <title>My cool website!!</title>
    <link rel="apple-touch-icon" href="/static/favicon.ico">
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <script src="https://unpkg.com/htmx.org@2.0.1"></script>
    <script src="https://unpkg.com/htmx-ext-ws@2.0.0/ws.js"></script>
    <link href="/static/index.css" rel="stylesheet" />
</head>

<body>
    <h1 id="header" class="title">YATA: Yet Another Todo-ish Application</h1>
    <form id="form" hx-post="/add" hx-swap="none" hx-on::after-request="this.reset()">
        <textarea id="textarea" rows="3" name="text" form="form" hx-post="/add" hx-swap="none"
            minlength="1" required
            hx-on::after-request="this.reset()" hx-trigger="keydown[key==='Enter'&&!shiftKey]"></textarea>
        <input id="submit" type="submit">
    </form>
    <h1 class="post-header">Posts</h1>
    <div id="post-area" hx-ext="ws" ws-connect="/socket">
        <ul id="posts">
            {{with $posts := .}}
            {{range $i, $v := $posts}}
            <li class="post">
                <pre>{{index $posts (revIndex $i (len $posts))}}</pre>
            </li>
            {{end}}
            {{end}}
        </ul>
    </div>
</body>

</html>